html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    z-index: 1;
}

.container-fluid {
    position: absolute;
    z-index: 2;
}

#street-view {

    width: 400px;
    height: 250px;
}

#menu {
    width: 400px;
    margin-top: 30px;
    background-color: black;
    padding: 0;
    opacity: .80;
    border-radius: 5px;
    text-align: center;

}


#menu-title{
    background-color: darkslateblue;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    max-height: 240px;
    overflow: auto;
}

#menu-items .btn, .title-input {
    width: 300px;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.container-fluid {
    margin-top: 50px;
}

.edit-marker {
    margin-right: 15px;
    color: white;
}

.title-input {
    background-color: white;
    color: black;
}
